@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap');
/*DM Sans*/
/*DM Serif Text */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;   
    background-color: var(--colour05); 
    font-family: 'DM Sans', sans-serif;
}

:root{
    --colour01: #0E1626;
    --colour02: #E4F2E7;
    --colour03: #93BFB7;
    --colour04: #387373;
    --colour05: #2D3E40;
}

h1{
    font-family: 'DM Serif Text', serif;
    color: var(--colour02);
    font-size: 40px;
}

#content{
    display: flex;
    flex-direction: column;
}

p{
    background-color: var(--colour02);
    color: var(--colour01);
    padding: 10px;
    border-radius: 12px;
}

button{
    background-color:var(--colour04);
    color: var(--colour02);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    font-family: 'DM Serif Text', serif; 
    font-weight: 300;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


button:hover {
    background-color: var(--colour03);
    transform: translateY(-2px);
}