@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap');
/*DM Sans*/
/*DM Serif Text */


body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--colour05); 
    color: var(--colour01);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    --colour01: #0E1626;
    --colour02: #E4F2E7;
    --colour03: #93BFB7;
    --colour04: #387373;
    --colour05: #2D3E40;
}

h1{
    font-family: 'DM Serif Text', serif;
    font-size: 40px;
    text-align: center;
}

p{
    color: var(--colour02);
    font-size: 14px;
    margin: 13px;
    font-weight: 200;
}

.accessibility {
    width: 393px;  
    height: 852px; 
    background-color: var(--colour02); 
    border: 1px solid #000;
    border-radius: 40px; 
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    box-sizing: border-box;
    text-align: center;
}

.content{
    width: 320px;
    height: 620px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: var(--colour01);
    color: var(--colour02);
}

#adjust-text-size, #colour-blindness-modes, #high-contrast-modes, #enable-tts{
    font-family: 'DM Serif Text', serif;
    font-size: 18px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 10px;
}

#text-size, #colour-blindness, #high-contrast, #text-to-speech{
    display: contents;
    font-size: 15px;
}

label{
    text-align: left;
    margin: 2px;
    padding-left: 10px;
}

input{
    cursor: pointer;
    position: absolute; 
    right: 42%; 
}


.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 30px;
}

button{
    background-color:var(--colour04);
    color: var(--colour02);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    font-family: 'DM Serif Text', serif; 
    font-weight: 300;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#save-button{
    width: 145px;
}

#save-options{
    margin-top: 10px;
}

button:hover {
    background-color: var(--colour03);
    transform: translateY(-2px);
}