@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap');
/*DM Sans*/
/*DM Serif Text */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;   
    background-color: var(--colour05); 
    font-family: 'DM Sans', sans-serif;
}

:root{
    --colour01: #0E1626;
    --colour02: #E4F2E7;
    --colour03: #93BFB7;
    --colour04: #387373;
    --colour05: #2D3E40;
}


#mood-report {
    width: 393px;  
    height: 852px; 
    background-color: var(--colour02); 
    border: 1px solid #000;
    border-radius: 40px; 
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    padding: 20px; 
    box-sizing: border-box;
    align-items: center; 
}


#mood-report-content{
    background-color: var(--colour01);
    width: 290px;
    height: 600px;
    border-radius: 25px;
}

#mood-report h1 {
    color: var(--colour01);
    font-family: 'DM Serif Text', serif;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-size: 35px;
    margin: 0;
}

#mood-report-content h2{
    color: var(--colour02);
    font-family: 'DM Serif Text', serif;
    text-align: center;
    font-style: italic;
    font-size: 35px;
    margin: 0;
}

#mood-report-content p {
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    color: var(--colour02);
    margin-top: 10px;
    text-align: center;
    
}

#date-today {
    font-size: 14px;
    font-weight: 200;
    margin: 0px;
    color: var(--colour03);
}

#date{
    position: relative;
    left: 80px;
    display: flex;
    gap: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 20px;
}

.questions{
    color: var(--colour02);

}

#question-01, #question-02{
    width: 210px;
    font-size: 14px;
    background-color: var(--colour02);
    color: var(--colour01);
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

#comment{
    display: block;
    width: 248px;
    height: 75px;
    border-radius: 12px;
    border: none;
    background-color: var(--colour02);
}

button{
    background-color:var(--colour04);
    color: var(--colour02);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    font-family: 'DM Serif Text', serif; 
    font-weight: 300;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


button:hover {
    background-color: var(--colour03);
    transform: translateY(-2px);
}

.simple-button {
    width: 170px;
    padding: 10px;
}

#change-page-buttons{
    display: flex;
    gap: 10px;
    position: relative;
    top: 150px;
}

#submit-report-button{
    width: 240px;
    position: relative;
    top: 30px;
    left: 5px;
}