@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap');
/*DM Sans*/
/*DM Serif Text */



:root{
    --colour01: #0E1626;
    --colour02: #E4F2E7;
    --colour03: #93BFB7;
    --colour04: #387373;
    --colour05: #2D3E40;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--colour05); 
    color: var(--colour02);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#performance {
    width: 393px;  
    height: 852px; 
    background-color: var(--colour01); 
    border: 1px solid #000;
    border-radius: 40px; 
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    box-sizing: border-box;
    text-align: left;
}

h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 40px;
    margin: 20px;
    font-style: italic;
    text-align: center;
}


h2 {
    font-size: 16px;
    margin-top: 20px;
    background-color: var(--colour02);
    color: var(--colour01);
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

p {
    font-size: 15px;
    margin: 5px 0;
}

#explain, #feedback{
    font-style: italic;
    font-weight: 200;
    text-align: center;
}

#feedback{
    margin-top: 130px;
}

#sleep-mood, #game{
    margin: 0px;
    position: relative;
    top: 50px;
    margin-bottom: 50px;
}

#buttons{
    position: relative;
    top: 80px;
    left: 80px;
}


button {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 25px;
    background-color: var(--colour04);
    color: var(--colour02);
    font-size: 16px;
    cursor: pointer;
    font-family: 'DM Serif Text', serif;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: var(--colour03);
    transform: translateY(-2px);
}

span {
    font-weight: bold;
}